/* General body styling */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Sidebar styling */
#sidebar {
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 60px;
    color: white;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    text-align: center;
    font-size: 24px;
    padding-bottom: 20px;
}

#sidebar ul.components {
    padding: 0;
}

#sidebar ul li {
    padding: 10px;
    list-style: none;
}

#sidebar ul li a {
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
    transition: background 0.3s;
}

#sidebar ul li a:hover {
    background-color: rgba(0,0,0,0.1);
}

/* Sidebar toggle button */
#sidebarCollapse {
    background-color: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(167,27,179,0.7289109857810312) 35%, rgba(0,212,255,1) 100%);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s;
}

#sidebarCollapse:hover {
    background-color: #333;
}

/* Page content */
#content {
    width: calc(100% - 250px);
    margin-left: 250px;
    padding: 20px;
    transition: all 0.3s;
}

.navbar {
    margin-bottom: 20px;
}

/* Toxic comment notifications list */
#notification-list {
    max-height: 400px;
    overflow-y: auto;
    padding: 0;
}

#notification-list .list-group-item {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 15px;
    transition: background-color 0.3s;
}

#notification-list .list-group-item:hover {
    background-color: #f1f1f1;
}

/* Custom button styling */
button {
    padding: 8px 12px;
    border: none;
    background-color: #eb2a14;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #7354c1;
}

/* Media query to ensure responsive design */
@media (max-width: 768px) {
    #sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    #content {
        width: 100%;
        margin-left: 0;
    }

    #sidebarCollapse {
        margin: 10px;
    }
}
